@{
    ViewData["title"] = "Nick";
}
<h1 style="font-size: 50px; color: rebeccapurple; text-align: center;">
    Nick SUPER
</h1>
<form action="~/Home/NickFormat" method="post" class="myform middle">
    <label>NAME</label><br />
    <input type="text" name="name" placeholder="Den" /><br />
    <label>PASSWORD</label><br />
    <input type="text" name="psw" placeholder="123456" /><br />
    <label>BALANCE</label><br />
    <input type="number" name="bal" placeholder="100" /><br />
    <input type="submit" value="add" />
</form>
