@{ 
    ViewData["title"] = "Yanik Vernis";
}
    <form>
        <input type="text" class="forminput" name="forminput" placeholder="yanik chmo" id="den">
        <input type="submit" onclick="alert(document.getElementById('den').value)">
    </form>
    <hr>
    <table class="middle mytable" border="1">
        <tr>
            <td class="supertd">
                NAME
            </td>
            <td class="supertd">
                BALANCE
            </td>
        </tr>
        <tr>
            <td>
                Den
            </td>
            <td>
                777
            </td>
        </tr>
        <tr>
            <td>
                Roma
            </td>
            <td>
                228
            </td>
        </tr>
    </table>
    <hr>
    <p class="pden ss">Den</p>
    <p class="proma ss">Roma</p>
