<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/index.js"></script>
    <link rel="stylesheet" href="static/index.css">
    <title>Yanik Vernis</title>
</head>
<body>
    <form>
        <input type="text" class="forminput" name="forminput" placeholder="yanik chmo" id="den">
        <input type="submit" onclick="jopa()">
    </form>
    <hr>
    <table class="table" border="1">
        <tr>
            <td class="supertd">
                NAME
            </td>
            <td class="supertd">
                BALANCE
            </td>
        </tr>
        <tr>
            <td>
                Den
            </td>
            <td>
                777
            </td>
        </tr>
        <tr>
            <td>
                Roma
            </td>
            <td>
                228
            </td>
        </tr>
    </table>
    <hr>
    <p class="pden">Den</p>
    <p class="proma">Roma</p>
</body>
</html>